
<b style="color: red;">implement before and after JS toggle</b>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Description</th>
			<th scope="col">Command</th>
			<th scope="col">Example</th>
		</tr>
	</thead>
	<tbody>
		<% @vim_commands.each do |v_c| %>
			<tr>
				<td>
					<%= v_c.description %> &nbsp;<br>
					•&nbsp;<%= link_to 'Edit VC', edit_vim_command_path(:id => v_c.id) %><br>
					•&nbsp;<%= link_to 'Delete VC', vim_command_path(:id => v_c.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
				</td>
				<td>
					<%= v_c.command %>
				</td>
				<td>
						<label class="switch" id="switch-<%=v_c.id %>">
							<input type="checkbox">
							<span class="slider"></span>
						</label>

						<img class="img_example_before" src="<%= v_c.img_example_before %>" alt="v_c img example" width="450px;" height="auto;"></img>
						<img class="img_example" src="<%= v_c.img_example %>" alt="v_c img example" width="450px;" height="auto;"></img>

				</td>

			</tr>
		<% end %>
			



