
<style>
	background-size: none;
</style>

<h1 class="page_header">Vim Commands</h1>


<div class="about_div">
	<p class="about">
		&emsp; Here are some basic vim commands. Hover over the images to see what the
	final result of the vim command will be.
	</p>
</div>

<span style="display: none;" id="vim_ids"><%= @vim_commands.ids %></span>


<div class="container">
	<% @vim_commands.each_with_index do |v_c, index| %>
			<div id="wrapper">
				<% if logged_in? %>
					<div id="left">
				<% end %>
						<span class="vim_command_title"><%= v_c.command %></span>
						<br>
						<span class="vim_description"><%= v_c.description %></span>
				<% if logged_in? %>
					</div>
					<div id="right">
							<%= link_to "Edit", edit_vim_command_path(:id => v_c.id), class: "btn btn-primary" %><br>
					</div>
				<% end %>
			</div>

			<div style="max-width: 75%; overflow: hidden;">
				<%= image_tag("#{v_c.img_example_before}", 
						:onmouseover => "this.src='assets/#{v_c.img_example}'", 
						:onmouseout => "this.src='assets/#{v_c.img_example_before}'", 
						:height => "300", :width => "auto" ) 
				%>
			</div>
			<br><br>
	<% end %>
</div>


