<h3 class="new_blog_post_header">Edit Blog Post</h3>

<div class="outer_new_blog_post_container">

	<div class="container new_blog_post">

		<%= form_for(@blog, :html => { :class => "new_blog_post_form" }) do |f| %>

      <div style="width: 100%;">
        <div style="width: 28%; float: left; text-align: right; padding-right: 10px;">
          <%= f.label :title %><br>
          <%= f.label :post %><br>
          <%= f.label :hash_tags %><br>
        </div>

        <div style="width: 72%; float: right; text-align: left;">
          <%= f.text_field :title, { :onInput => "title_on_input(this)" } %><br>
          <%= f.text_area :post, { :onChange => "expand_textarea()", :onInput => "edit_on_input(this)", :onKeyUp => "on_key_stroke(this)" } %><br>
					<%= f.collection_check_boxes :hash_tag_ids, @blog.hash_tags, :id, :name %>
          <%= f.submit "Submit", class: "btn new_blog_post_submit" %>
        </div>
      </div>

			<!--div style="width: 100%;">
				<div style="width: 28%; float: left; text-align: right; padding-right: 10px;">
					%= f.label :title %><br>
					%= f.label :post %><br>
				</div>

				<div style="width: 72%; float: right; text-align: left;">
					%= f.text_field :title, { :onInput => "title_on_input(this)" } %><br>
					%= f.text_area :post, { :onKeyUp => "on_key_stroke(this)" } %><br>
					%= f.submit "Submit", class: "btn new_blog_post_submit" %>
				</div>
			</div-->


		<% end %>

	</div>

</div>

