<!DOCTYPE html>
<html>
  <head>
    <title>Venture</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<nav class="navbar navbar-default navbar-expand-sm">
		<%= link_to 'Home', root_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Vim Command'.html_safe, vim_commands_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'New Vim Command'.html_safe, new_vim_command_path, method: :get %>
	</nav>

	<div class="center jumbotron jumbotron-fluid">
		<div class="container">
			<h2><%= yield(:title) %></h2><br>
			<p><%= yield(:p) %></p>

			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
	</div>

	<body>
		<div class="container">
			<%= yield %>
			<br><%= debug(params) if Rails.env.development? %>
		</div>
	</tbody>

	<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
	<div class="footer navbar-fixed-bottom">
	</div>

</html>
