<!DOCTYPE html>
<html>
  <head>
    <title>Learning Vim</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag('vim_commands.js') %>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

	<div class="sidenav">
		<%= link_to 'Home', root_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Vim Command'.html_safe, vim_commands_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'New Vim Command'.html_safe, new_vim_command_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to 'Blog'.html_safe, blogs_path, method: :get %>
		&nbsp;&nbsp;&nbsp;<%= link_to "New Blog", new_blog_path, method: :get %>

		<%= form_tag(vim_commands_path, method: :get) do %>
			<%= text_field_tag(:search, params[:search], class: 'nav_search') %><br>
			<%= submit_tag("Search") %>
		<% end %>
	</div>


	<body>
		<div class="container">
			<%= yield %>
		</div>
		<!--br>%= debug(params) if Rails.env.development? %-->
	</body>


	<div class="footer navbar-fixed-bottom">
	</div>

</html>
